Repository ShengWeiChang/packing_list: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,vue}": ["eslint --fix", "prettier --write"],
  "*.{json,md,css,html}": ["prettier --write"]
}

feat: Update OverflowMenu visibility for mobile and desktop devices
  source/components/Item.vue
  source/components/OverflowMenu.vue
Due: eslint --fix, prettier --write

feat: Optimize UI/UX for mobile devices (#11)
  docs/product-spec.md
  source/components/AddItemButton.vue
  source/components/Category.vue
  source/components/Checklist.vue
  source/components/Item.vue
  source/components/OverflowMenu.vue
  source/components/Sidebar.vue
Due: eslint --fix, prettier --write

feat: Add category collapse/expand functionality and update drag-and-drop functionality in document
  docs/product-spec.md
  source/components/Category.vue
  source/locales/en.json
  source/locales/zh-TW.json
Due: eslint --fix, prettier --write

refactor: Update function section headers for improved clarity and organization
  docs/code-quality.md
  source/App.vue
  source/components/Category.vue
  source/components/Checklist.vue
  source/components/Item.vue
  source/components/OverflowMenu.vue
  source/components/Sidebar.vue
Due: eslint --fix, prettier --write

feat: Enhance accessibility by adding ARIA attributes and roles across components
  source/components/AddCategoryButton.vue
  source/components/Category.vue
  source/components/Checklist.vue
  source/components/Item.vue
  source/components/OverflowMenu.vue
  source/components/ProgressBar.vue
  source/components/Sidebar.vue
  source/locales/en.json
  source/locales/zh-TW.json
Due: eslint --fix, prettier --write

feat: Improve accessibility by adding keyboard navigation and focus handling across components
  source/components/AddCategoryButton.vue
  source/components/AddItemButton.vue
  source/components/Category.vue
  source/components/Checklist.vue
  source/components/Item.vue
  source/components/OverflowMenu.vue
  source/components/Sidebar.vue
Due: eslint --fix, prettier --write

feat: Enhance accessibility by integrating vuejs-accessibility plugin and updating components for keyboard navigation and focus management
  docs/code-quality.md
  docs/product-spec.md
  eslint.config.js
  package-lock.json
  package.json
  source/App.vue
  source/components/AddItemButton.vue
  source/components/Item.vue
  source/components/PendingItemsCategory.vue
Due: eslint --fix, prettier --write

feat: Improve accessibility by replacing div with button in AddCategoryButton and enhancing focus styles in Category and Item components
  source/components/AddCategoryButton.vue
  source/components/Category.vue
  source/components/Item.vue
Due: eslint --fix, prettier --write

feat: Improve accessibility by updating visibility classes for better focus management in Category and Item components
  source/components/Category.vue
  source/components/Item.vue
Due: eslint --fix, prettier --write

feat: Enhance accessibility and category management (#12)
  docs/code-quality.md
  docs/product-spec.md
  eslint.config.js
  package-lock.json
  package.json
  source/App.vue
  source/components/AddCategoryButton.vue
  source/components/AddItemButton.vue
  source/components/Category.vue
  source/components/Checklist.vue
  source/components/Item.vue
  source/components/OverflowMenu.vue
  source/components/PendingItemsCategory.vue
  source/components/ProgressBar.vue
  source/components/Sidebar.vue
  source/locales/en.json
  source/locales/zh-TW.json
Due: eslint --fix, prettier --write

fix(ui): split underwear items; remove flag icons; unify icon frames; improve date UX; docs
  source/components/Category.vue
  source/components/Checklist.vue
  source/components/Item.vue
  source/components/OverflowMenu.vue
  source/components/Sidebar.vue
  source/data/defaultItems_en.js
  source/data/defaultItems_zh-TW.js
  source/index.css
Due: eslint --fix, prettier --write

fix: improve component styles and layout; enhance date handling logic; update default items categories
  source/components/AddItemButton.vue
  source/components/Category.vue
  source/components/Checklist.vue
  source/components/Item.vue
  source/components/OverflowMenu.vue
  source/data/defaultItems_en.js
  source/data/defaultItems_zh-TW.js
Due: eslint --fix, prettier --write

doc: update spec document
  docs/product-spec.md
Due: prettier --write

fix: Refactor color management system; update constants and CSS variables for improved semantic naming; enhance accessibility and UI consistency
  build-css-vars.js
  docs/product-spec.md
  source/App.vue
  source/components/AddCategoryButton.vue
  source/components/Category.vue
  source/components/Checklist.vue
  source/components/Item.vue
  source/components/OverflowMenu.vue
  source/components/PendingItemsCategory.vue
  source/components/ProgressBar.vue
  source/components/Sidebar.vue
  source/components/Topbar.vue
  source/index.css
  source/utils/constants.js
  tailwind.config.js
Due: eslint --fix, prettier --write

feat: Enhance color system and improve UI interactions
  build-css-vars.js
  source/App.vue
  source/components/AddCategoryButton.vue
  source/components/AddItemButton.vue
  source/components/Category.vue
  source/components/Checklist.vue
  source/components/Item.vue
  source/components/OverflowMenu.vue
  source/components/PendingItemsCategory.vue
  source/components/Sidebar.vue
  source/components/Topbar.vue
  source/index.css
  source/utils/constants.js
  tailwind.config.js
Due: eslint --fix, prettier --write

fix: address comments
  build-css-vars.js
  docs/product-spec.md
  source/components/Category.vue
  source/components/Checklist.vue
  source/components/Item.vue
  source/components/OverflowMenu.vue
Due: eslint --fix, prettier --write

fix: address comments
  source/components/PendingItemsCategory.vue
Due: eslint --fix, prettier --write

fix: Refactor color system with semantic naming and improve UI interactions (#13)
  build-css-vars.js
  docs/product-spec.md
  source/App.vue
  source/components/AddCategoryButton.vue
  source/components/AddItemButton.vue
  source/components/Category.vue
  source/components/Checklist.vue
  source/components/Item.vue
  source/components/OverflowMenu.vue
  source/components/PendingItemsCategory.vue
  source/components/ProgressBar.vue
  source/components/Sidebar.vue
  source/components/Topbar.vue
  source/data/defaultItems_en.js
  source/data/defaultItems_zh-TW.js
  source/index.css
  source/utils/constants.js
  tailwind.config.js
Due: eslint --fix, prettier --write

feat: add unit testing infrastructure
  .github/workflows/test.yml
  .husky/pre-commit
  .vscode/settings.json
  package-lock.json
  package.json
  postcss.config.js
  tailwind.config.js
  tests/setup/setup.js
  tests/unit-tests/composables/usePackingLists.test.js
  tests/unit-tests/models/Category.test.js
  tests/unit-tests/models/Checklist.test.js
  tests/unit-tests/models/Item.test.js
  tests/unit-tests/services/dataService.test.js
  tests/unit-tests/services/localStorageService.test.js
  tests/unit-tests/utils/helpers.test.js
  vite.config.js
  vitest.config.js
Due: eslint --fix, prettier --write

feat: add component tests for AddCategoryButton, AddItemButton, Category, Item, OverflowMenu, PendingItemsCategory, ProgressBar, and Topbar
  tests/component-tests/AddCategoryButton.test.js
  tests/component-tests/AddItemButton.test.js
  tests/component-tests/Category.test.js
  tests/component-tests/Item.test.js
  tests/component-tests/OverflowMenu.test.js
  tests/component-tests/PendingItemsCategory.test.js
  tests/component-tests/ProgressBar.test.js
  tests/component-tests/Topbar.test.js
Due: eslint --fix, prettier --write

feat: add Playwright for end-to-end testing and implement initial test cases
  .gitignore
  package-lock.json
  package.json
  playwright.config.js
  source/App.vue
  source/components/AddCategoryButton.vue
  source/components/AddItemButton.vue
  source/components/Category.vue
  source/components/Checklist.vue
  source/components/Item.vue
  source/components/ProgressBar.vue
  source/components/Sidebar.vue
  tests/end2end/app-loading.spec.js
  tests/end2end/checklist-management.spec.js
  tests/end2end/item-packing.spec.js
Due: eslint --fix, prettier --write

feat: updated file naming conventions
  .github/copilot-instructions.md
  docs/code-quality.md
  source/data/defaultItems.js
  source/data/defaultItemsEn.js
  source/data/defaultItemsZhTw.js
Due: eslint --fix, prettier --write

feat: update test cases for checklist management, item packing, and packing lists
  tests/component-tests/AddItemButton.test.js
  tests/component-tests/Category.test.js
  tests/component-tests/Checklist.test.js
  tests/component-tests/Item.test.js
  tests/component-tests/OverflowMenu.test.js
  tests/component-tests/Sidebar.test.js
  tests/end2end/checklist-management.spec.js
  tests/end2end/item-packing.spec.js
  tests/unit-tests/composables/usePackingLists.test.js
  tests/unit-tests/models/Item.test.js
  tests/unit-tests/services/dataService.test.js
  tests/unit-tests/services/localStorageService.test.js
Due: eslint --fix, prettier --write

feat: update documents, rename test folders
  docs/code-quality.md
  docs/product-spec.md
  docs/testing-guide.md
  playwright.config.js
  tests/e2e-tests/app-loading.spec.js
  tests/e2e-tests/checklist-management.spec.js
  tests/e2e-tests/item-packing.spec.js
  tests/test-setup/setup.js
  vitest.config.js
Due: eslint --fix, prettier --write

fix: update test case numbering for consistency across multiple test files
  tests/component-tests/AddCategoryButton.test.js
  tests/component-tests/App.test.js
  tests/component-tests/Checklist.test.js
  tests/component-tests/ProgressBar.test.js
  tests/component-tests/Topbar.test.js
  tests/end2end-tests/item-packing.spec.js
  tests/unit-tests/composables/usePackingLists.test.js
  tests/unit-tests/models/Item.test.js
  tests/unit-tests/services/localStorageService.test.js
  tests/unit-tests/utils/helpers.test.js
Due: eslint --fix, prettier --write

feat: update document
  .github/workflows/test.yml
  docs/testing-guide.md
Due: prettier --write

feat: enhance linting configuration and fix lint warning
  .gitignore
  .lintstagedrc.json
  package.json
  tests/end2end-tests/multi-tab-sync.spec.js
  tests/unit-tests/i18n/index.test.js
Due: eslint --fix, prettier --write

feat: add E2E test for checklist deletion and update i18n tests with improved locale handling
  docs/testing-guide.md
  tests/end2end-tests/multi-tab-sync.spec.js
  tests/unit-tests/i18n/index.test.js
Due: eslint --fix, prettier --write

feat: enhance test coverage and assertions across components and services
  docs/testing-guide.md
  tests/component-tests/App.test.js
  tests/component-tests/Checklist.test.js
  tests/component-tests/Sidebar.test.js
  tests/end2end-tests/drag-and-drop.spec.js
  tests/unit-tests/composables/usePackingLists.test.js
  tests/unit-tests/i18n/index.test.js
  tests/unit-tests/models/Category.test.js
  tests/unit-tests/models/Checklist.test.js
  tests/unit-tests/models/Item.test.js
  tests/unit-tests/services/localStorageService.test.js
  tests/unit-tests/utils/helpers.test.js
  tests/unit-tests/utils/order.test.js
Due: eslint --fix, prettier --write

fix: update date formatting test to account for timezone variations
  tests/unit-tests/utils/helpers.test.js
Due: eslint --fix, prettier --write

feat: Add agent skills and update .gitignore for skills reference
  .github/skills/doc-audit/SKILL.md
  .github/skills/pr-description/SKILL.md
  .github/skills/squash-commit/SKILL.md
  .github/skills/test-analysis/SKILL.md
  .gitignore
  AGENTS.md
Due: prettier --write

feat: Update documentation skills for bilingual consistency audits and refine .gitignore entries
  .github/skills/doc-audit-code-quality/SKILL.md
  .github/skills/doc-audit-product-spec/SKILL.md
  .github/skills/doc-audit-testing-guide/SKILL.md
  .gitignore
Due: prettier --write

feat: Revise README to enhance project overview, features, and documentation structure
  README.md
Due: prettier --write

feat: Ensure main branch is specified for push events in CI workflow
  .github/workflows/test.yml
Due: none

feat: Revise PR description guidelines to enhance title and description formatting
  .github/skills/pr-description/SKILL.md
Due: prettier --write

feat: Update project structure in README
  README.md
Due: prettier --write

feat: Revise squash commit message guidelines for clarity and structure
  .github/skills/squash-commit/SKILL.md
Due: prettier --write

feat: Add GitHub Copilot agent skills infrastructure (#15)
  .github/skills/doc-audit-code-quality/SKILL.md
  .github/skills/doc-audit-product-spec/SKILL.md
  .github/skills/doc-audit-testing-guide/SKILL.md
  .github/skills/pr-description/SKILL.md
  .github/skills/squash-commit/SKILL.md
  .github/skills/test-analysis/SKILL.md
  .github/workflows/test.yml
  .gitignore
  AGENTS.md
  README.md
Due: prettier --write
